html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  font-family: "Poppins", sans-serif;
}

#jumbotron {
  color: #ffff;
  background-image: url(img/bikesh-deshar-XJ2rJHLucJM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  padding-top: 300px;
  padding-bottom: 300px;
}

#about {
  background-image: url(img/IMG-5917.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 300px;
  font-family: "Poppins", sans-serif;
}

#whatido {
  color: #ffff;
  background-color: #0d0d0d;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Poppins", sans-serif;
}

#experience {
  color: #ffff;
  background-color: #595959;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Poppins", sans-serif;
}

#projects {
  background-color: #ffff;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Poppins", sans-serif;
}

#gallery {
  color: #ffff;
  background-color: #0d0d0d;
  align-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Poppins", sans-serif;
}

#help {
  background-color: #d9d9d9;
  padding-top: 15%;
  padding-bottom: 10%;
  font-family: "Poppins", sans-serif;
}
